.wrapper {
    background-color: lightgray;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.box {
    height: 300px;
    width: 300px;
    background-color: gray;
    /*align-self: center;*/
}
